.writer-header {
    font-family: 'Poiret One';

    letter-spacing:5px;
}

h1 {
    margin-top:0px;

}

.social-header {
    text-align: right;
}

.fa-cog {
    color: gray;
    opacity: 0.75;
    color: rgba(0,0,0,0.75);
}

.fa-cog:hover {
    color:black;
}

.instagram {
    margin-left:5px;
}

form {
    display: inline-block;
    float:right;
}

.image {
    width:200px;
    height:200px;
    float: left;
    margin:0 20px 20px 0;
}

.text {
    text-align: justify;
    text-indent: 2em;
}

.headerimage {
    height: 397px;
    width:860px;
}