.writer-header {
    font-family: 'Inherit';
    letter-spacing:5px;
}

h1 {
    margin-top:0px;

}

.social-header {
    text-align: right;
}

.fa-cog {
    color: gray;
    opacity: 0.75;
    color: rgba(0,0,0,0.75);
}

.fa-cog:hover {
    color:black;
}

.instagram {
    margin-left:5px;
}

form {
    display: inline-block;
    float:right;
}

.image {
    width:500px;
    height:500px;
    float: left;
    margin:0 20px 20px 0;
    padding-right:20px;
    padding-left:20px
}

.text {
    text-align: justify;
    text-indent: 10em;
}

.headerimage {
    height: 397px;
    width:860px;
}

.blogtitle {
    padding-left:20px;
}

.hover {
    background-color:#fff0e6;
}