<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Writer's Block 1</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../stylesheets/blogpage.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8 writer-header">
                    <h1> Writer's Block</h1>
                 </div>
                <div class="col-md-4 social-header">
                    <a href="https://www.linkedin.com/in/sugee-liyanage-53047bb1">
                        <i class="fa fa-linkedin-square fa-3x fa-cog linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/sugeeli">
                        <i class="fa fa-instagram fa-3x fa-cog instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <form action="/blogpost" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="titleInput"> Title </label>
                <input name="title" id="titleInput" placeholder="Title" class="form-control"</input>
                {% if invalidTitle %}
                    <div class="alert alert-danger" role="alert">
                        <p>Sorry, Your Title is invalid!</p>
                    </div>
                {% endif %}
            </div>

            <div class= "post form-group">
                <label for="postInput"> Blog Post </label>
                <textarea name="post" id="postInput" placeholder="Blog Post" class="form-control" rows="10"></textarea>
                {% if invalidbPost %}
                <div class="alert alert-danger" role="alert">
                    <p> Sorry, your Blog Post is invalid!</p>
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <input type = "file" name="photo" id = "photo">
                {% if invalidPhoto %}
                <div class="alert alert-danger" role="alert">
                    <p> Please upload a photo and try again! </p>
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Post</button>
        </form>
    </div>



    {% if blogposts %}
        <div class= "container" id="post" class="page-header">
            <div class="row">
                {% for blogpost in blogposts %}
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="/images?photo_key={{blogpost.photo_key}}" alt="Photo of {{blogpost.place}}" height= "280px" class="img-rounded"> </img>
                            <div class="caption">
                                <h3> {{blogpost.title}} </h3> {{blogpost.date_text}}
                                <blockquote><p> {{blogpost.post}} </p></blockquote>
                            </div>
                        </div>
                    </div>
                    {% if loop.index is divisibleby 3 %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</body>
</html>